<?xml version="1.0"?>

<launch>

    <arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor.gazebo.xacro" />
    <arg name="world" default="aro_field_world_v2" doc="launch specific or generated world"/>

    <!-- start generated world -->
    <group if="$(eval arg('world') == 'generated')">
        <include file="$(find hector_gazebo_worlds)/launch/start.launch">
            <arg name="world" value="$(find virtual_maize_field)/worlds/generated.world"/>
        </include>
    </group>

    <!-- start test world -->
    <group if="$(eval arg('world') != 'generated')">
        <include file="$(find hector_gazebo_worlds)/launch/start.launch">
            <arg name="world" value="$(find aro)/worlds/$(arg world).world"/>
        </include>
    </group>

    <group ns="uav1">
        <!-- spawn uav1 -->
        <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
            <arg name="name" value="uav1" />
            <arg name="tf_prefix" value="uav1" />
            <arg name="model" value="$(arg model)" />
            <arg name="y" value="-1.0" />
        </include>
        <!-- start uav1/hector_node-->
        <node pkg="aro" type="hector_node.py" name="hector_node" output="screen" args="1">
            <remap from="/release" to="/uav1/release"/>
            <remap from="/ground_truth/state" to="/uav1/ground_truth/state"/>
            <remap from="/sonar_height" to="/uav1/sonar_height"/>
            <remap from="/cmd_vel" to="/uav1/cmd_vel"/>
        </node>
    </group>

    <group ns="uav2">
        <!-- spawn uav2 -->
        <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
            <arg name="name" value="uav2" />
            <arg name="tf_prefix" value="uav2" />
            <arg name="model" value="$(arg model)" />
            <arg name="y" value="1.0" />
        </include>
        <!-- start uav2/hector_node-->
        <node pkg="aro" type="hector_node.py" name="uav2_hector_node" output="screen" args="2">
            <remap from="/release" to="/uav2/release"/>
            <remap from="/ground_truth/state" to="/uav2/ground_truth/state"/>
            <remap from="/sonar_height" to="/uav2/sonar_height"/>
            <remap from="/cmd_vel" to="/uav2/cmd_vel"/>
        </node>
    </group>

</launch>